{% extends "base.html" %}

{% block title %}
    Habits
{% endblock %}

{% block main %}

    {% set data_type_options = {
        'Number': 'number',
        'Text': 'text',
        'Boolean': 'boolean',
        'Time': 'time',
        'Enum': 'enum'
    } %}

<div class="container container-fluid">
  <div class="card card-danger">
    <div class="card-body">
      <form method="GET">
        <div class="row d-flex">
          
          <h3 class="col-3 flex-grow-1">
            <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#create-new-tracker-modal">Create New</a>
          </h3>
          
          <div class="col-3 flex-grow-1">
            <div class="input-group input-group-sm">
              <input type="text" name="search" class="form-control" placeholder="Search" {% if request.args.search %} value="{{request.args.search}}" {% endif %}>
                <button type="submit" class="btn btn-secondary">
                  <i class="bi bi-search"></i>
                </button>
            </div>
          </div>

          <div class="col-2">
            <select class="form-control form-control-sm" name="is_active" onChange="form.submit();">
              <option value="" selected>Active/Deactivated</option>
              <option value="true" {% if request.args.is_active == 'true' %} selected {% endif %}>Active</option>
              <option value="false" {% if request.args.is_active == 'false' %} selected {% endif %}>Deactivated</option>
            </select>
          </div>

        </div>
      </form>
    </div>
          
    <div class="card">
          <div class="card-body p-0">
            <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th style="width: 10px">ID</th>
                      <th>Title</th>
                      <th style="width: 40px">Status</th>
                      <th>Data Type</th>
                      <th>Unit</th>
                      <th>Enum Values</th>
                      <th>Created at</th>
                      <th>Modified at</th>
                  </tr>
              </thead>
              <tbody>
                  {% for tracker_obj in context.trackers %}
                      <tr>
                          <td>
                              {{ tracker_obj.id }}
                          </td>
                          <td>
                              <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#update-tracker-modal-{{ tracker_obj.id }}">{{ tracker_obj.name }}</a>
                          </td>
                          <td>
                              {% if tracker_obj.is_active %}
                                  <span class="badge text-bg-success">Active</span>
                              {% else %}
                                  <span class="badge text-bg-warning">Deactivated</span>
                              {% endif %}
                          </td>
                          <td>
                              {{ tracker_obj.data_type }}
                          </td>
                          <td>
                              {{ tracker_obj.unit }}
                          </td>
                          <td>
                              {{ tracker_obj.enum_options }}
                          </td>
                          <td>
                              {{ tracker_obj.created_at }} <br/>
                          </td>
                          <td>
                              {{ tracker_obj.modified_at }} <br/>
                          </td>
                          <td>
                            <!-- Update Modal -->
                            <div id="update-tracker-modal-{{ tracker_obj.id }}" class="modal fade" role="dialog">
                              <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                      <h4 class="modal-title">Update Tracker</h4>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                      <form action="{{ url_for('habits.update_habit', tracker_id=tracker_obj.id) }}" method="POST">
                                          <div class="form-group mb-3">
                                          <label for="tracker-name">Tracker Name</label>
                                          <input type="text" class="form-control" id="tracker-name" name="tracker-name" aria-describedby="emailHelp" value="{{ tracker_obj.name}}" required>
                                          </div>
                                          
                                          <div class="form-group mb-3">
                                              <label class="form-label" for="data-type">Data type</label>
                                              <select class="form-select" id="data-type" name="data-type" required>
                                                  {% for text, value in data_type_options.items() %}
                                                      <option value="{{ value }}" {% if tracker_obj.data_type == value %} selected {% endif %}>
                                                          {{ text }}
                                                      </option>
                                                  {% endfor %}
                                              </select>
                                          </div>

                                          <div class="form-group mb-3">
                                          <label for="unit">Unit</label>
                                          <input type="text" class="form-control" id="unit" name="unit" aria-describedby="emailHelp" value="{{ tracker_obj.unit }}">
                                          </div>

                                          <div class="form-group mb-3">
                                          <label for="enum-options">Enum Options</label>
                                          <input type="text" class="form-control" id="enum-options" name="enum-options" aria-describedby="emailHelp" value="{{ tracker_obj.enum_options }}">
                                          </div>

                                          <div class="form-group mb-3">
                                          <div class="form-check form-switch">
                                              <input type="checkbox" class="form-check-input" role="switch" id="is-active" name="is-active" {% if tracker_obj.is_active %} checked {% endif %}>
                                              <label class="form-check-label" for="is-active">Is Active</label>
                                          </div>
                                          </div>
                                          
                                          <div class="modal-footer">
                                          <button type="submit" class="btn btn-success btn-sm">Update</button>
                                          <a type="button" class="btn btn-danger btn-sm" href="{{ url_for('habits.delete_habit', tracker_id=tracker_obj.id) }}">delete</a>
                                          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                                          </div>
                                      </form>
                                      </div>
                                  </div>
                              </div>
                          </td>
                      </tr>

                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<!-- Create new category modal -->
<div id="create-new-tracker-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

      <!-- Create new category form -->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Tracker</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="#" method="POST">
            <div class="form-group mb-3">
              <label for="tracker-name">Tracker Name</label>
              <input type="text" class="form-control" id="tracker-name" name="tracker-name" aria-describedby="emailHelp" required>
            </div>
            
            <div class="form-group mb-3">
                <label class="form-label" for="data-type">Data type</label>
                <select class="form-select" id="data-type" name="data-type" required>
                    {% for text, value in data_type_options.items() %}
                        <option value="{{ value }}">
                            {{ text }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mb-3">
              <label for="unit">Unit</label>
              <input type="text" class="form-control" id="unit" name="unit" aria-describedby="emailHelp">
            </div>

            <div class="form-group mb-3">
              <label for="enum-options">Enum Options</label>
              <input type="text" class="form-control" id="enum-options" name="enum-options" aria-describedby="emailHelp">
            </div>

            <div class="form-group mb-3">
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" role="switch" id="is-active" name="is-active">
                <label class="form-check-label" for="is-active">Is Active</label>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm">Create</button>
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}