<!DOCTYPE html>
<html lang="en"  data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>DayRacker | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="border navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span class="blue">Day Tracker</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session["user_id"] %}
                    <ul class="navbar-nav me-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/diary/day">Day Entry</a></li>
                        <li class="nav-item"><a class="nav-link" href="/habits">Habits</a></li>
                        <li class="nav-item"><a class="nav-link" href="/diary/summary">Summary</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/auth/profile"><i class="bi bi-person"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/auth/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
            <button id="theme-toggle" class="btn btn-link nav-link py-2 px-0 px-lg-2 d-flex align-items-center"><i class="bi bi-moon-stars-fill"></i></button> 
        </div>
    </nav>
    

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="space-y-2">
                {% for category, message in messages %}
                    <div class="alert alert-{{ 
                            'primary' if category=='info' else
                            'warning' if category=='warning' else
                            'danger' if category=='error' else
                            'success'
                        }} alert-dismissible"
                        role="alert">

                        <span>{{ message }}</span>

                        <!-- Close button -->
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main class="py-5">
        {% block main %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    <script>
        const root = document.documentElement;
        const toggleBtn = document.getElementById("theme-toggle");

        // Load previous theme
        const saved = localStorage.getItem("theme") || "light";
        root.setAttribute("data-bs-theme", saved);
        toggleBtn.innerHTML = saved === "dark" ? `<i class="bi bi-brightness-high"></i>` : `<i class="bi bi-moon-stars-fill"></i>`;

        toggleBtn.addEventListener("click", () => {
            const current = root.getAttribute("data-bs-theme");
            const next = current === "light" ? "dark" : "light";

            root.setAttribute("data-bs-theme", next);
            localStorage.setItem("theme", next);
            toggleBtn.innerHTML = next === "dark" ? `<i class="bi bi-brightness-high"></i>` : `<i class="bi bi-moon-stars-fill"></i>`;
        });
    </script>


</body>
</html>